
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position:top left, bottom right;
}
nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0px 220Px;

}
nav ul {
    display:flex;
    align-items:center;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
}
/* shared style */
.section-title{
    color: rgb(24, 24, 24);
font-size: 30px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}
.secondary-bg{
    background-color:rgb(255, 248, 243);
}
.text-primary {
    color:rgb(253, 110, 10);
}
nav ul li {
    list-style:none;
    margin-right:50px;
}
nav li a {
    text-decoration: none;
}
.dark-2{
    color:rgb(71, 71, 71);
}
.btn-primary {
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

width: 150px;
height: 64px;
border-radius: 5px;

background: rgb(253, 110, 10);
cursor:pointer;
}
/* bannar style */

.bannar{
 display:flex;
 justify-content: space-between;
 margin:0px 50px 0px 220px;
}
.bannar-content{
    width: 500px;
}
.bannar-greeting{
    color: rgb(71, 71, 71);
font-size: 30px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.bannar-title{
    color: rgb(24, 24, 24);

font-size: 60px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.bannar-discription{
    color: rgb(117, 117, 117);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

/* about style */
.about{
    padding: 150px 150px;
    border-radius:10px;
    text-align:center;
    margin-top:130px;


}
.about-items{
    display:flex;
    justify-content:space-around;
}
.main{
    max-width:1150px;
    margin:0px auto;
}
.item-title{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.item-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}